<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='../pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='../pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Numpy</h1>

**Imports**

In [2]:
import numpy as np
import pandas as pd
from PIL import Image
from scipy import ndimage

<h2>Opdracht 1</h2>

<h3>Gegeven</h3>

Planeet | Grootte to.v. de omvang van de Aarde
---|---
Jupiter | 1120%
Saturnus | 945%
Uranus | 400%
Neptunus | 388%
Aarde| 100%
Venus | 95%
Mars | 53%

In [3]:
filename = "csv/planets.csv"

In [4]:
ls pics

 Volume in drive C is OS
 Volume Serial Number is BE76-42DF

 Directory of c:\MakeAIWork\notebooks\opdrachten\notebooks\numpy\pics

21/09/2022  14:27    <DIR>          .
21/09/2022  14:27    <DIR>          ..
21/09/2022  12:27    <DIR>          .ipynb_checkpoints
21/09/2022  12:27            29,680 earth.jpg
21/09/2022  12:27            27,270 earth_scaled.jpg
21/09/2022  12:27            22,232 jupiter.jpg
21/09/2022  12:27            27,847 mars.jpg
21/09/2022  12:27           414,893 mars.nasa.jpg
21/09/2022  12:27            40,854 mercury.jpg
21/09/2022  12:27            14,150 neptune.jpg
21/09/2022  12:27            40,218 saturn.jpg
21/09/2022  12:27             9,969 uranus.jpg
21/09/2022  12:27            15,308 venus.jpg
21/09/2022  12:27            66,259 venus.png
              11 File(s)        708,680 bytes
               3 Dir(s)  242,727,858,176 bytes free

<h3>Gevraagd</h3>
<p>
Schaal voor elke (erkende) planeet uit ons zonnestelsel de bijbehorende image t.o.v. van de aarde. Het geschaalde plaatje moet groter zijn dan het plaatje van de aarde als de bijbehorende planeet groter is dan de aarde. Is de planeet kleiner dan de aarde dan moet het nieuwe plaatje kleiner zijn. Gebruik voor de schaalfactor het percentage. 
Tip: Indien nodig kun je de images normaliseren door eerst het plaatje van de aarde te schalen
</p>

<h3>Oplossing</h3>
<ol>
    <li>
        <strong>Open het bestand csv/planets.csv en voeg daar de kolom <i>image</i></strong>
    </li>
    <li>
        <strong>Importeer het csv-bestand en sla de data op in een dictionary</strong>
    </li>
    <li>
        <strong>Open een image uit van een item uit de dictionary</strong>
    </li>
    <li>
        <strong>Schaal de image m.b.v. een <i>numpy array</i></strong>
    </li>
    <li>
        <strong>Sla de geschaalde image op</strong>
    </li>
    <li>
        <strong>Schrijf een functie voor het schalen van een image</strong>
    </li>    
    <li>
        <strong>Maak een loop waarbij voor elke planeet een geschaalde image wordt gemaakt en opgelagen</strong>
    </li>    
</ol>

**Stap 2: Importeer het csv-bestand en sla de data op in een dictionary**

In [16]:
planetDataFrame = pd.read_csv(filename, header = 0, sep = ',')
# print(planetDataFrame)
# type(planetDataFrame)
# print(planetDataFrame.columns)
# planetDataFrame.head()  # of .style

**Stap 3: Open een image uit van een item uit de dictionary**

In [6]:
img = Image.open('pics/earth.jpg')
type(img)
# img.show()

PIL.JpegImagePlugin.JpegImageFile

**Stap 4: Schaal de image m.b.v. een numpy array**

In [7]:
array = np.array(img)
type(array)
scaleFactor = 1
scaleArray = ndimage.zoom(array, (scaleFactor, scaleFactor, 1))
imgScaled = Image.fromarray(scaleArray)
# imgScaled.show()

**Stap 5: Sla de geschaalde image op**

In [8]:
imgScaled.save(img.filename.replace(".jpg","_scaled.jpg"))

**Stap 6: Schrijf een functie voor het schalen van een image**

**Stap 7: Maak een loop waarbij voor elke planeet een geschaalde image wordt gemaakt en opgelagen**

<h4>Bonus: Voeg Mercurius aan de tabel toe en schaal ook daarvan het plaatje</h4>

</ol>

</ol>